<h1>Chat</h1>
<hr>

<div class="app-mensajes" id="app-msjs">

  <div [ngClass]="{'text-right': cs.usuario.uid == chat.uid}" 
      *ngFor="let chat of cs.chats">
    <span [ngClass]="{'badge-primary': cs.usuario.uid === chat.uid, 'badge-success': cs.usuario.uid != chat.uid}" 
      
    class="badge">{{chat.nombre}}</span>
    <p>{{chat.mensaje}}</p>
  </div>
</div>

<input type="text" name="mensaje" class="form-control"
  [(ngModel)]="mensaje"
  placeholder="Escribir un mensaje..."
  (keyup.enter) = "enviarMensaje()"
>